In [1]:
import pandas as pd
import sqlite3

In [2]:
col_names = ['datetime', 'user']
connect = sqlite3.connect('../data/checking-logs.sqlite')

In [3]:
query = 'PRAGMA table_info(pageviews);'
pd.io.sql.read_sql(query, connect)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

choose some rows from table
status = 'ready'
numtails = 1
labnames should be from the list: ’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’
save  this data in df in column cnt

In [4]:
query = '''
SELECT COUNT(*)
FROM pageviews
WHERE pageviews.uid IN
    (SELECT checker.uid
    FROM checker
    WHERE status='ready'
    AND numTrials=1
    AND labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
    )
'''
checkers = pd.io.sql.read_sql(query, connect)
checkers.columns = ['cnt']
checkers

   cnt
0  985

In [5]:
connect.close()