In [1]:
import pandas as pd

In [12]:
a = pd.read_csv('auto.csv', index_col = 'ID')

In [13]:
a.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [14]:
a.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [15]:
a = a.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep = 'last')

In [16]:
a.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
5   92918M178RUS    Ford Focus     1.0  5700.0      NaN

In [18]:
a.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [19]:
a.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [20]:
a = a.dropna(thresh=500, axis=1)

In [22]:
a.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [23]:
a['Refund'] = a['Refund'].fillna(method = 'ffill')

In [24]:
a.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [26]:
a['Fines'] = a['Fines'].fillna(method = 'ffill')

In [27]:
a.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [28]:
a.head()

       CarNumber  Make_n_model  Refund   Fines
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0
1    E432XX77RUS  Toyota Camry     1.0  6500.0
2    7184TT36RUS    Ford Focus     1.0  2100.0
3   X582HE161RUS    Ford Focus     2.0  2000.0
5   92918M178RUS    Ford Focus     1.0  5700.0

In [29]:
a['Make_n_model'].unique()

array(['Ford Focus', 'Toyota Camry', 'Skoda Octavia', 'Volkswagen Passat',
       'Volkswagen Golf', 'Volkswagen', 'Volkswagen Jetta',
       'Volkswagen Touareg', 'Toyota Corolla', 'Audi', 'Ford Mondeo',
       'Volvo', 'BMW'], dtype=object)

In [30]:
def make(str):
    str = str.split()
    x = str[0]
    return x

In [31]:
def model(str):
    str = str.split()
    m = None
    if len(str) > 1:
        m = str[1]
    return m

In [32]:
a['Make'] = a['Make_n_model'].apply(make)

In [ ]:
a['Model'] = a['Make_n_model'].apply(model)

In [33]:
a.head()

       CarNumber  Make_n_model  Refund   Fines    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0    Ford  Focus

In [34]:
a.count()

CarNumber       725
Make_n_model    725
Refund          725
Fines           725
Make            725
Model           716
dtype: int64

In [35]:
a.to_json('auto.json', orient = 'records')